@import 'tailwindcss';

@font-face {
  font-family: 'Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Montreal Thin'),
    url('./assets/fonts/MontrealThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montreal Light';
  font-style: normal;
  font-weight: normal;
  src: local('Montreal Light'),
    url('./assets/fonts/MontrealLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montreal Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montreal Regular'),
    url('./assets/fonts/MontrealRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montreal Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Montreal Medium'),
    url('./assets/fonts/MontrealMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montreal Bold'),
    url('./assets/fonts/MontrealBold.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #000000;

  font-family: 'Montreal Regular', sans-serif;
}

@theme {
  --font-montreal-thin: 'Montreal Thin', 'sans-serif';
  --font-montreal-light: 'Montreal Light', 'sans-serif';
  --font-montreal: 'Montreal Regular', 'sans-serif';
  --font-montreal-medium: 'Montreal Medium', 'sans-serif';
  --font-montreal-bold: 'Montreal Bold', 'sans-serif';
}
